body{
    background: #31303f;
    
}
.conten{
    width: 90%;
    height: 100vh;
    border-radius: 5px 100px 5px;
    padding-top: 200px;
    position: relative;
    margin: auto;
    /* color: #fff; */
    /* background: rgba(255, 255, 255, 0.712) */
    /* align-items: center; */
    
}
.conten .penjelasan{
    /* backdrop-filter: blur(20px); */

    color: #fff;
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: arial;
    font-size: 25px;
    letter-spacing: 1.2px;
    line-height: 30px;
    margin-bottom: 9%;
    width: 1200px;
}
.penjelasan p{
    font-size: 18px;
}
.conten .judul {
    font-size: 65px;
    padding-left: 20px;
    padding-top: ;
    letter-spacing: 20%;
    color: #dfdc3a;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    text-shadow: 2px 2px 5px rgb(0, 0, 0)

    
}
.conten .judul h1{
    font-family: 'Times New Roman';

}
/* .navigation-scorlled{

} */
.bgimage{
    /* position: relative; */
    width: 100%;
    height: 100vh;
    background: url(image/binary.jpg) no-repeat;
    background-size:cover  ;
    background-position: center;
    background-attachment: fixed;
}
.bgimage1{
    /* position: relative; */
    width: 100%;
    height: 100vh;
    background: url(image/Paris.jpeg) no-repeat;
    background-size:cover  ;
    background-position: center;
    background-attachment: fixed;
}
.contener1{
    margin: auto;
    background: #19243b;
    color: #fff;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}
.contener2{
    /* background: #19243b; */
    margin: auto;
    color: #fff;
    width: 100%;
    height: 50vh;
}

.contener1 .judul{
    font-size: 100px;
    text-align: center;
    padding-bottom: 1%;
}
.contener2 .judul{
    margin-top: 100px;
    font-size: 100px;
    text-align: center;
    padding-bottom: 1%;
}
.contener1 .isi{
    display: grid;
    grid-template-columns: auto 40%;
    margin: auto;
    font-size: 25px;
    text-align: justify;
    width: 80%;
}
.contener1 .isi img{
    /* width: 200px; */
    border-radius: 30px;
    margin: auto;
    justify-self: center;
    display: block;
    width: 500px;
    transition: 0.5s all;
}
.contener1 .isi-hp{
    display: none;
}
.tm1{
    align-items: center;
    display: grid;
    grid-template-columns: 50% 50% ;
    /* padding-top: 5px; */
    width: 80%;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    background: #1b304800;
    border-radius: 20px;
    backdrop-filter: blur(20px);
}
.tm1 .judultm{
    padding-top: 1%;
    margin-top: 10px;
    font-size: 50px;
    text-align: center;
    padding-bottom: 1%;
}
.tm1 .bahas img{
    border-radius: 30px;
    margin: auto;
    justify-self: center;
    display: block;
    width: 500px;
    transition: 0.5s all;
}
.tm1 .bahas{
    display: grid;
    grid-template-columns: 40% auto;
    font-size: 25px;
    text-align: justify;
    padding-bottom: 70px;
    padding-top: 50px;
}

.body a {
    text-decoration: none;
}
.bahas .kata{
  margin-right: 20px;
}


.button-67 {
    margin-right: 20px;
    margin-top: 10px;
    height: 10px;
  align-items: center;
  background: #f5f5fa;
  border: 0;
  border-radius: 8px;
  box-shadow: -3px -3px 10px 0 #19243b,3px 3px 10px 0 #16991d;
  box-sizing: border-box;
  color: #2a1f62;
  cursor: pointer;
  display: flex;
  font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5rem;
  padding: 15px;
  position: relative;
  text-align: left;
  transition: .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  width: max-content;
  word-break: normal;
  word-spacing: normal;
  padding: 24px;

}

.button-67:hover {
  background: #f8f8ff;
  box-shadow: -10px -10px 20px 0 #fff, 10px 10px 20px 0 #16991d;
}

/* @media (min-width: 768px) {
  .button-67 {
    padding: 24px;
  }
} */

@media only screen and  (max-width: 1700px){
    /* .contener1{
        height: 700px;
        justify-items: center;
    } */
    .contener1 .isi img{
        width: 450px;
        margin-bottom: 150px;
    }
}
@media only screen and  (max-width: 1600px){
    .tm1 .bahas img{
        width: 450px;
        transition: 0.5s all;
    }
}
@media only screen and  (max-width: 1450px){
    .contener1 .isi{
        transition: 0.5s all;
        display: grid;
        grid-template-columns: auto 37%;
        margin: auto;
        font-size: 25px;
        text-align: justify;
        width: 90%;
    }
    .contener1 .isi img{
        transition: 0.5s all;
        width: 450px;
        margin-bottom: 150px;
    }
    .tm1{
        transition: 0.5s all;
        width: 90%;
    }
}

@media only screen and  (max-width: 1290px){
    .conten .penjelasan{
        transition: 0.5s all;
        width: 100%;
        
    }
    /* .contener1{
        height: 1100px;
    } */
    .contener1 .isi{
        transition: 0.5s all;
        display: none;
    }
    .contener1 .isi-hp{
        transition: 0.5s all;
        display: grid;
        grid-template-columns: auto ;
        margin: auto;
        font-size: 23px;
        text-align: justify;
        width: 80%;
    }
    .contener1 .judul{

        padding-bottom: 50px;
    }
    .contener1 .isi-hp img{
        transition: 0.5s all;
        /* width: 200px; */
        border-radius: 30px;
        margin: auto;
        justify-self: center;
        display: block;
        width: 800px;
        transition: 0.5s all;
    }
    .contener1 .isi-hp .bahas{
        padding-top: 50px;
        transition: 0.5s all;
        
    }
    .tm1 .bahas{
        display: grid;
        grid-template-columns:  auto;
    }
    .tm1 .bahas img{
        width: 600px;
    }
    .tm1 .bahas .kata{
        padding-top: 50px;
        margin: 0 20px 0 20px;
    }
    @media only screen and  (max-width: 1100px){
    .contener1 .isi-hp img{
        width: 600px;
    }

    }
    @media only screen and  (max-width: 820px){
        .conten .penjelasan p{
            font-size: 15px;
            line-height: 20px;
        }
        .conten .penjelasan h3{
            font-size: 20px;
        }
        .contener1 .judul{
            font-size: 75px;
        }
        .contener2 .judul{
            font-size: 75px;
        }
        .contener1 .isi-hp img{
            width: 400px;
        }
        /* .contener1{
            height: auto;
            padding-bottom: 50px;
        } */
        .tm1 .bahas img{
            width: 400px;
        }
        .kata{
            font-size: 20px;
        }
    }
    @media only screen and  (max-width: 650px){
        .contener2 .judul{
            font-size: 60px ;
        }
    }
    @media only screen and  (max-width: 550px){
        .conten .penjelasan p{
            font-size: 12px;
            line-height: 13px;
        }
    }
    @media only screen and  (max-width: 550px){
        .contener2 .judul{
            font-size: 50px;
        }
    }
    @media only screen and  (max-width: 452px){
        .conten .penjelasan p{
            font-size: 10px;
            line-height: 13px;
        }
        .conten .judul h1{
            font-size: 70px ;
        }
        .conten .penjelasan h3{
            font-size: 20px;
        }
        .contener1 .judul{
            font-size: 50px;
        }
        .contener2 .judul{
            font-size: 45px;
        }
        .contener1 .isi-hp img{
            width: 300px;
        }
        /* .contener1{
            height: auto;
            padding-bottom: 50px;
        } */
        .tm1 .bahas img{
            width: 300px;
        }
        .kata{
            font-size: 15px;
        }
        .contener1 .isi-hp .bahas{
            font-size: 15px;
        }
        .tm1 .judultm{
            padding-top: 10px;
            font-size: 20px;
            margin: auto;
        }
        .tm1 .bahas{
            margin-top: 2px;
            padding-top: 10px;
        }
        .button-67{
            padding: 10px;
            font-size: 10px;

        }

    }
}