
.readmore.none.fas, .readmore1.none.fas1, .readmore2.fas2.none, .readmore3.none.fas{
    display: none;
}
.readless.fas, .readless.fas.none, .readless1.fas1.none, .readless2.fas2.none{
    display: none;
}
.readless.yes.fas, .readless1.yes.fas1, .readless2.yes.fas2{
    display: inline-block;
}
.bahas.kata-more, .bahas.kata-more1, .bahas.kata-more2{

    transition: all 0.5s;
    display: none;
}
.bahas.kata-more.readed,.bahas.kata-more1.readed,.bahas.kata-more2.readed{
    transition: all 0.5s;
    display: grid;
    grid-template-columns: auto;

}
/* .bahas.kata-more.readed img,.bahas.kata-more1.readed img,.bahas.kata-more2.readed img{
    width: 700px;
} */
.tm1 .bahas.less.none,.tm1 .bahas.less1.none,.tm1 .bahas.less2.none,.tm1 .bahas.less3.none{
    display: none;
}
.kata > p, .kata-more > p,  .kata-more1 > p,  .kata-more2 > p{
    padding-top: 20px;
}
.conten{
    width: 90%;
    height: 100vh;
    border-radius: 5px 100px 5px;
    padding-top: 200px;
    position: relative;
    margin: auto;
    /* color: #fff; */
    /* background: rgba(255, 255, 255, 0.712) */
    /* align-items: center; */
    
}
.conten .penjelasan{
    /* padding-left: 20px; */
    /* backdrop-filter: blur(20px); */
    width: auto;
    text-align: center;
    color: #fff;
    padding-bottom: 25px;
    font-family: arial;
    font-size: 25px;
    letter-spacing: 1.2px;
    line-height: 30px;
    margin-bottom: 9%;
}
.penjelasan p{
    font-size: 18px;
}
.conten .judul {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 65px;
    /* padding-left: 20px; */
    /* padding-top: ; */
    letter-spacing: 20%;
    color: #e42727;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(0, 0, 0)

    
}
.conten .judul h1{
    font-family: 'Times New Roman';

}
/* .navigation-scorlled{

} */
.bgimage{
    /* position: relative; */
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(image/binary.jpg);
    background-size:cover  ;
    background-position: center;
    background-attachment: fixed;
}
.bgimage1{
    /* position: relative; */
    width: 100%;
    height: 100vh;
    background: url(image/Paris.jpeg) no-repeat;
    background-size:cover  ;
    background-position: center;
    background-attachment: fixed;
}
.contener1{
    margin: auto;
    background: #0c3d1a;
    color: #fff;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}
.contener2{
    /* background: #19243b; */
    margin: auto;
    color: #fff;
    width: 100%;
    height: 50vh;
}

.contener1 .judul{
    font-size: 100px;
    text-align: center;
    padding-bottom: 1%;
}
.contener2 .judul{
    margin-top: 100px;
    font-size: 100px;
    text-align: center;
    padding-bottom: 1%;
}
.contener1 > .isi1{
    display: grid;
    grid-template-columns: 40% auto; 
}
.isi{
    display: grid;
    grid-template-columns: auto 40%;
    margin: auto;
    font-size: 25px;
    text-align: justify;
    width: 80%;
}
.contener1 .isi img{
    /* width: 200px; */
    border-radius: 30px;
    margin: auto;
    justify-self: center;
    display: block;
    width: 500px;
    transition: 0.5s all;
}
.contener1 .isi-hp{
    display: none;
}
.tm1{
    /* padding-top: 5px; */
    width: 80%;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    background: #0c3d1a;
    border-radius: 20px;
    backdrop-filter: blur(20px);
}
.tm1 .judultm{
    padding-top: 1%;
    margin-top: 10px;
    font-size: 50px;
    text-align: center;
    padding-bottom: 1%;
}
.tm1 .bahas img{
    border-radius: 30px;
    margin: auto;
    justify-self: center;
    display: block;
    width: 500px;
    transition: 0.5s all;
}
.tm1 .bahas.less3.hp{
    align-items: center;
    text-align: justify;
    display: none;
}
.tm1 .bahas.less1{
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: auto 40%;
    font-size: 25px;
    text-align: justify;
    padding-bottom: 70px;
    /* padding-top: 50px; */
}
.gambarpanjang{
    align-items: center;
    text-align: center;
    margin-top: auto;
    font-size: 25px;
    text-align: justify;
    padding-bottom: 70px;

}

.tm1 .bahas.less, .tm1 .bahas.less2, .tm1 .bahas.less3{
    align-items: center;
    text-align: center;
    margin-top: auto;
    display: grid;
    grid-template-columns: 40% auto;
    font-size: 25px;
    text-align: justify;
    padding-bottom: 70px;
    /* padding-top: 50px; */
}
.tm1 .bahas.kata-more, .tm1 .bahas.kata-more1, .tm1 .bahas.kata-more2{
    font-size: 25px;
    text-align: justify;
    padding-bottom: 70px;
    padding-top: 50px;
}

.body a {
    text-decoration: none;
}
.bahas .kata{

    margin-right: 20px;
padding-top: 20px;
margin-right: 20px;
margin-left: 20px;
}
.tm1 .bahas .kata{
    /* padding-top: 50px; */
    margin: 0 20px 0 20px;
}

.button-67 {
    margin-right: 20px;
    margin-top: 10px;
    height: 10px;
  align-items: center;
  background: #f5f5fa;
  border: 0;
  border-radius: 8px;
  box-shadow: -3px -3px 10px 0 #19243b,3px 3px 10px 0 #16991d;
  box-sizing: border-box;
  color: #2a1f62;
  cursor: pointer;
  display: flex;
  font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5rem;
  padding: 15px;
  position: relative;
  text-align: left;
  transition: .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  width: max-content;
  word-break: normal;
  word-spacing: normal;
  padding: 24px;

}

.button-67:hover {
  background: #f8f8ff;
  box-shadow: -10px -10px 20px 0 #fff, 10px 10px 20px 0 #16991d;
}

/* @media (min-width: 768px) {
  .button-67 {
    padding: 24px;
  }
} */

@media only screen and  (max-width: 1700px){
    /* .contener1{
        height: 700px;
        justify-items: center;
    } */
    .contener1 .isi img{
        width: 450px;
        margin-bottom: 150px;
    }
}
@media only screen and  (max-width: 1600px){
    .tm1 img{
        width: 450px;
        transition: 0.5s all;
    }
}
@media only screen and  (max-width: 1450px){
    .contener1 .isi{
        transition: 0.5s all;
        display: grid;
        grid-template-columns: auto 37%;
        margin: auto;
        font-size: 25px;
        text-align: justify;
        width: 90%;
    }
    .contener1 .isi img{
        transition: 0.5s all;
        width: 450px;
        margin-bottom: 150px;
    }
    .tm1{
        transition: 0.5s all;
        width: 90%;
    }
}

@media only screen and  (max-width: 1290px){
    .conten .penjelasan{
        transition: 0.5s all;
        width: 100%;
        
    }
    /* .contener1{
        height: 1100px;
    } */
    .contener1 .isi{
        transition: 0.5s all;
        display: none;
    }
    .contener1 .isi-hp{
        transition: 0.5s all;
        display: grid;
        grid-template-columns: auto ;
        margin: auto;
        font-size: 23px;
        text-align: justify;
        width: 80%;
    }
    .contener1 .judul{

        padding-bottom: 50px;
    }
    .contener1 .isi-hp img{
        transition: 0.5s all;
        /* width: 200px; */
        border-radius: 30px;
        margin: auto;
        justify-self: center;
        display: block;
        width: 800px;
        transition: 0.5s all;
    }
    .contener1 .isi-hp .bahas{
        padding-top: 50px;
        transition: 0.5s all;
        
    }
    .tm1 .bahas.less1.laptop{
        display: none;
    }
    .tm1 .bahas.less3.hp{
        display: grid;
        grid-template-columns:  auto;
        padding-top: 50px;
    }
    .tm1 .bahas.less3.none{
        display: none;
    }
    .tm1 .bahas.less,  .tm1 .bahas.less2{
        display: grid;
        grid-template-columns:  auto;
        padding-top: 50px;
    }
    .tm1 .bahas img{
        width: 600px;
    }
    .tm1 .bahas .kata{
        /* padding-top: 50px; */
        margin: 0 20px 0 20px;
    }
}
    @media only screen and  (max-width: 1100px){
    .contener1 .isi-hp img{
        width: 600px;
    }

    }
    @media only screen and  (max-width: 883px){
        .conten .judul{
            font-size: 50px;
        }
    }
    @media only screen and  (max-width: 820px){
        .conten .judul{
            font-size: 50px;
        }
        .conten .penjelasan p{
            font-size: 15px;
            line-height: 20px;
        }
        .conten .penjelasan h3{
            font-size: 20px;
        }
        .contener1 .judul{
            font-size: 75px;
        }
        .contener2 .judul{
            font-size: 75px;
        }
        .contener1 .isi-hp img{
            width: 400px;
        }
        /* .contener1{
            height: auto;
            padding-bottom: 50px;
        } */
        .tm1 .bahas img{
            width: 400px;
        }
        .kata{
            font-size: 20px;
        }
    }
    @media only screen and  (max-width: 773px){
        .conten .judul{
            font-size: 45px;
        }
    }
    @media only screen and  (max-width: 600px){
        .conten .judul{
            font-size: 40px;
        }
    }
    @media only screen and  (max-width: 561px){
        .conten .judul{
            font-size: 30px;
        }
    }
    @media only screen and  (max-width: 650px){
        .contener2 .judul{
            font-size: 60px ;
        }
    }
    @media only screen and  (max-width: 550px){
        .conten .penjelasan p{
            font-size: 12px;
            line-height: 13px;
        }
    }
    @media only screen and  (max-width: 550px){
        .contener2 .judul{
            font-size: 50px;
        }
    }
    @media only screen and  (max-width: 452px){
        .conten .penjelasan p{
            font-size: 15px;
            line-height: 13px;
        }
        .conten .judul{
            font-size: 28px ;
        }
        .conten .penjelasan h3{
            font-size: 25px;
        }
        .contener1 .judul{
            font-size: 50px;
        }
        .contener2 .judul{
            font-size: 45px;
        }
        .contener1 .isi-hp img{
            width: 300px;
        }
        /* .contener1{
            height: auto;
            padding-bottom: 50px;
        } */
        .tm1 .bahas img{
            width: 300px;
        }
        .tm1 .bahas.gambarpanjang img{
            width: 300px;
            border-radius: 20px;
        }
        .kata{
            font-size: 15px;
        }
        .contener1 .isi-hp .bahas{
            font-size: 15px;
        }
        .tm1 .judultm{
            padding-top: 10px;
            font-size: 25px;
            margin: auto;
        }
        .tm1 .bahas{
            margin-top: 2px;
            padding-top: 10px;
        }
        .button-67{
            padding: 10px;
            font-size: 15px;

        }
        .cssbuttons-io-button {
            font-size: 12px;
        }

    }

/* BUTTON */
.button-56 {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-56:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .button-56:hover:after {
    transform: translate(0, 0);
  }
  
  .button-56:active {
    background-color: #ffdeda;
    outline: 0;
  }
  
  .button-56:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .button-56 {
      padding: 0 40px;
    }
  }
  @media (max-width: 450px) {
    .button-56 {
      font-size: 15px;
      padding: 0 10px;
      height: 20px;
    }
    .button-56:after{
        height: 20px;
    }
  }