.tabel{
    margin: auto;
    width: 90%;
    text-align: left;
}
.tabel tr{
    padding-top: 100px;
}
td {
    border-bottom: 1px solid white;
    padding: 8px;
}
.border0{
    border-bottom: 0px solid white;

}